body {
  background-color: #222;
}

h1 {
  font-size: 2em;
}

.App {
  text-align: center;
  font-family: Courier, monospace;
}

.header {
  color: white;
  padding: 10px 0 40px;
  border-bottom: solid 4px #000;
}

.content {
  background: #fff url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
  opacity: 0.8;
  padding: 35px 0;
  font-size: 4.2em;
  font-weight: bold;
  -webkit-animation: slide-background 3s linear infinite;
  -moz-animation: slide-background 3s linear infinite;
  -o-animation: slide-background 3s linear infinite;
  animation: slide-background 3s linear infinite;
}

.content .text {
  display: block;
  -webkit-animation: tilt-text 5s linear infinite;
  -moz-animation: tilt-text 5s linear infinite;
  -0-animation: tilt-text 5s linear infinite;
  animation: tilt-text 5s linear infinite;
}

.footer {
  color: white;
  padding: 40px 0;
  font-size: 0.85em;
  border-top: solid 4px #000;
}

@keyframes slide-background {
  0% { background-position: 0 0; opacity: 1; }
  50% { background-position: -300px 0; opacity: 0.7; }
  100% { background-position: -600px 0; opacity: 1; }
}

@keyframes tilt-text {
  0% {transform:translateY(-3px) rotate(0deg);}
  25% {transform:translateX(-25px) translateY(0px) rotate(-3deg);}
  50% {transform:translateY(-3px) rotate(0deg);}
  75% {transform:translateX(25px) translateY(3px) rotate(3deg);}
  100%{transform:translateY(-3px) rotate(0deg);}
}
